/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;
}

h2,
.white {
    color: #fff;
}

a {
    color: #7A7C80;
    text-decoration: none;
}

/* section contacts */
.section-contacts {
    padding-top: 40vh;
    text-align: center;
}

.section-contacts p {
    font-size: 1.1rem;
    padding-bottom: 8px;
    margin: 0;
}

.section-contacts h2 {
    font-size: 1.7rem;
    margin-bottom: 8px;
}

.section-contacts a {
    font-size: 1.5rem;
    padding: 10px;
}

/* section info */
.section-info {
    padding-top: 16vh;
    width: 70%;
}

.section-info h2 {
    font-size: 1.7rem;
    margin-bottom: 8px;
    margin-top: 8px;
}

.section-info p {
    font-size: 1.1rem;
    padding-bottom: 8px;
    margin: 0;
}

.section-info a {
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

/* animations / utilities */
.section-info a:hover {
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-contacts a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.section-info h2:hover {
    color: #fff;
    transition: 0.3s;
    font-size: 2rem;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

.justify-text {
    text-align: justify;
}

.project-info {
    margin-bottom: 8px;
}

summary:hover {
    cursor: pointer;
    font-weight: bold;
}

/* media queres */
@media (max-width: 780px) {
    .grid-page {
        grid-template-columns: 1fr;
    }

    .section-contacts {
        padding: 0;
        padding-top: 5rem;
    }

    .section-info {
        padding: 2rem 1.5rem 1.5rem;
        width: fit-content;
    }
}

summary::-webkit-details-marker {
    color: blue;
}

summary:focus {
    outline-style: none;
}